/* Базовые настройки */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
    background-color: #f4f4f7;
    color: #000;
}

/* Шапка и категории */
header {
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.header-content {
    padding: 15px;
    text-align: center;
}

h1 {
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 900;
}

#categories-nav {
    border-top: 1px solid #eee;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 15px;
    scrollbar-width: none; /* Скрываем скроллбар в Firefox */
}

#categories-nav::-webkit-scrollbar {
    display: none; /* Скрываем скроллбар в Chrome/Safari */
}

#categories {
    display: flex;
    gap: 10px;
}

.cat-btn {
    padding: 8px 18px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s;
}

.cat-btn.active {
    background: #000;
    color: #fff;
    border-color: #000;
}

/* Сетка товаров */
.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
}

/* Карточка товара */
.product-card {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0,0,0,0.02);
}

.img-container {
    aspect-ratio: 3 / 4;
    background: #f9f9f9;
    overflow: hidden;
}

.product-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.product-brand {
    font-weight: 800;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 2px;
}

.product-name {
    font-size: 13px;
    color: #444;
    line-height: 1.2;
    height: 31px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 5px;
}

.product-seller {
    font-size: 11px;
    color: #999;
    margin-bottom: 8px;
}

.price-row {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}

.price-new {
    font-weight: 700;
    font-size: 15px;
}

.price-old {
    text-decoration: line-through;
    color: #aaa;
    font-size: 12px;
}

.buy-btn {
    width: 100%;
    background: #000;
    color: #fff;
    border: none;
    padding: 12px 0;
    border-radius: 8px;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
    transition: opacity 0.2s;
}

.buy-btn:active {
    opacity: 0.7;
}
